@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff1f2; /* rose-50 */
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #ffe4e6;
}
::-webkit-scrollbar-thumb {
  background: #fb7185;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f43f5e;
}